<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a mi pagina {{nombre}}</h1>
    <h2>{{notas}}</h2>
        
    {% for n in notas %}

        {% if n > 4%}           
            <p>Aprobado con {{n}}</p>
        {% else %}
            <p>A Marzo con {{n}}</p>
        {% endif %}
    
    {% endfor %}
        <p></p>
</body>
</html>